####################
# Usual build folders
#

build/
build-clion/
cmake-build-debug/
cmake-build-debug-ios/
cmake-build-release/
cmake-build-release-ios/
cmake-build/
.build/
bin/
gen/
out/


####################
# CMake
#

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


####################
# Slather
#

slather-reports


####################
# Doxygen
#

doxygen


####################
# C / C++
#

*.d
*.slo
*.lo
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.dll
*.mod
*.smod
*.lai
*.la
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb


####################
# Android
#

*.apk
*.ap_
*.dex
*.class
.gradle/
local.properties
proguard/
*.log
.navigation/
captures/
.externalNativeBuild
google-services.json


####################
# Freeline
#

freeline.py
freeline/
freeline_project_description.json


####################
# Fastlane
#

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md


####################
# Unity
#

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
/.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pidb.meta
*.pdb.meta
sysinfo.txt
*.unitypackage


####################
# JetBrains
#

.idea
*.iws
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


####################
# Xcode
#

*~.nib
*.xccheckout
*.xcscmblueprint
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
!xcshareddata
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace


####################
# VSCode
#

.vscode


####################
# Carthage
#

Carthage.pkg
Carthage/


####################
# CocoaPods
#

Pods/


####################
# macOS
#

.DS_Store
.DS_Store?
.Trashes
.Spotlight-V100
*.swp
*.lock
profile


####################
# Matlab
#

*.m~


####################
# Python
#

*_pyprocessed_*
__pycache__/
*.py[cod]
*$py.class
.Python
share/python-wheels/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
*.log
local_settings.py
.webassets-cache
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
*.sage.py
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/